.cache/
.DS_Store
.env
.lock-wscript
.netlify
.sass-cache/
*.log
*.pid
*.seed
.eslintrc.js
prettier.config.js
build
coverage
cypress/screenshots
cypress/videos
dist
dist-ssr
lib-cov
logs
node_modules
pids
public
src/assets/styles/tailwind.css
src/assets/styles/tw.css
