---
layout: single
pagination:
    data: tweets
    size: 1
    alias: status
permalink: "status/{{ status.id | slug }}/"
eleventyComputed:
  title: "{{ status.date | dateToFormat('PPPp') }}"
large: true
footer: false
---

{{ status.tweet }}