<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    {% include "header.njk" %}
    <main class="grid w-full">
      <div class="col-start-2 flex flex-col items-start justify-start row-start-2 w-full">
        <h1 class="mb-3 mr-auto">Recent tweets</h1>
        {%- for item in tweets -%}
          {%- if loop.index0 < 6 -%}
            <article class="w-full">
              <h2 class="mr-auto">
                <a class="hover:underline no-underline" href="{{ meta.url }}/status/{{ item.id }}/">
                  <time class="text-meta whitespace-nowrap" datetime='{{ item.date }}'>
                    {{ item.date | dateToRelative }}
                  </time>
                </a>
              </h2>
              <p class="break-words text-xl">{{ item.tweet | unicodeToEmoji | tweetUrls | twitterUsername | safe }}</p>
            </article>
          {%- endif -%}
        {%- endfor -%}
        {% include "intro.njk" %}
      </div>
    </main>
    {% include "footer.njk" %}
    {% if build.env == "production" %}
      {% include "sw.njk" %}
    {% endif %}
    <script defer type="application/javascript" src="{{ meta.url }}/assets/scripts/noise.js"></script>
    <!--! LAST BUILD: {{ build.env }} {{ build.timestamp | dateToISO }} -->
  </body>
</html>